Package: xe-ca-cert
Version: 0.1.15
Section: security
Priority: extra
Architecture: all
Maintainer: Jakobus Schürz <jakob@xundeenergie.at>
Homepage: http://github.com/xundeenergie/xe-ca-cert
Provides: xe-ca-cert
Depends: libnss3-tools
Recommends: 
Description: Provides CA-certificate for Xunde Energie CA 
